@import "./reset.scss";

$cyan: hsl(179, 62%, 43%);
$bright-yellow: hsl(71, 73%, 54%);

$light-gray: hsl(204, 43%, 93%);
$grayish-blue: hsl(218, 22%, 67%);
$light-gray-blue: #2bb3b1;

$border-radius: 10px;
$padding: 30px;

html {
    font-family: 'Karla', sans-serif;
    color: $light-gray;
    font-size: 16px;
}

body {
    background-color: $light-gray;
    display: flex;
    justify-content: center;
    width: 100%;
}

.wrapper {
    margin-top: 75px;
    width: 85%;
    margin-bottom: 75px;
    border-radius: $border-radius;
    display: grid;
    grid-template-columns: 1fr;

    .hero {
        border-radius: $border-radius $border-radius 0px 0px;
        background-color: white;
        padding: $padding;

        h1 {
            color: $cyan;
            margin-bottom: 25px;
            font-size: 1.35rem;
            font-weight: 700;
        }

        h2 {
            color: $bright-yellow;
            font-size: 1rem;
            margin-bottom: 25px;
            font-weight: 700;
        }

        p {
            color: $grayish-blue;
            line-height: 25px;
            font-size: .8rem;
        }
    }

    .price {
        background-color: #2bb3b1;
        padding: $padding;

        h2 {
            font-weight: 700;
            font-size: 1.2rem;
            margin-bottom: 25px;
        }

        &--line {
            display: flex;
            vertical-align: center;
            margin-bottom: 10px;

            &--number {
                font-size: 2rem;
                font-weight: 700;
                color: white;
            }

            &--frequency {
                padding-top: 8px;
                padding-left: 17px;
                opacity: .5;
            }
        }

        &--subline {
            margin-bottom: 40px;
        }

        button {
            width: 100%;
            background-color: $bright-yellow;
            border-radius: $border-radius;
            padding: 20px;
            border: none;
            color: white;
            font-size: 1rem;
            font-weight: 700;
        }
    }

    .why-us {
        background-color: #4bbebd;
        border-radius: 0 0 $border-radius $border-radius;
        padding: $padding;

        h2 {
            font-size: 1.2rem;
            margin-bottom: 25px;
        }

        ul {
            opacity: .7;
            font-weight: 200;

            li {

                line-height: 22px;
            }
        }
    }
}